#cart-container {
  padding: 0.7rem 2.5rem;
  border-radius: 2rem;
  width: 15rem;
  background-color: rgb(73, 11, 11);
}

#cart-container:hover {
  background-color: #2c0d00;
  cursor: pointer;
}

#cart-container .container {
  display: flex;
  justify-content: space-around;
  color: white;
}

#cart-container .container .cart-button-heading {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 0.3rem;
}

#cart-container .container .cart-button-counter {
  background-color: #9e4724;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 0.9rem;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
