.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  padding: 1rem;
}


.cart-modal {
  top: 15vh;
  left: 5%;
  animation: slide-down 300ms ease-out forwards;
  margin-top: -2.5rem;
}

@media (min-width: 768px) {
  .cart-modal {
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.user-menu {
  left: 81.4%;
  top: 12%;
  z-index: 10;
  width: 17rem;
}


.user-menu-data {
  text-align: center;

}

.user-data {
  padding-bottom: 1rem;
}

.user-menu .user-data h1 {
  font-size: 1rem;
}

.user-menu-link {
  display: inline-block;
  padding: 10px;
  color: black;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 400;
}

.user-menu-link:hover {
  cursor: pointer;
  background-color: rgb(178, 178, 178);
}