.card {
  padding: auto 1rem;
  background-color: white;
  margin: 2rem auto;
  border-radius: 1rem;
  width: 800px;
  box-shadow: 10px 10px 5px rgb(0, 0, 0, 0.25),
    -10px 10px 5px rgb(0, 0, 0, 0.25);
}
