.admin-meals-container .add-btn {
    margin: 3rem 0 0 25rem;
}

.btn-container {
    display: flex;
}

.btn-container button {
    width: 50%;
    margin-right: 5px;
}

#desc-error-message {
    margin-top: 2px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}